<div class="task-filters">
  <div class="task-filters__container">
    <h3 class="task-filters__title">Filters:</h3>
    <div class="task-filters__buttons">
      <button mat-button (click)="changeFilter('all')" class="task-filters__button"
        [class.task-filters__button--active]="currentFilter() === 'all'">
        <mat-icon class="task-filters__icon">list</mat-icon>
        All
      </button>
      <button mat-button (click)="changeFilter('active')" class="task-filters__button"
        [class.task-filters__button--active]="currentFilter() === 'active'">
        <mat-icon class="task-filters__icon">radio_button_unchecked</mat-icon>
        Active
      </button>
      <button mat-button (click)="changeFilter('completed')" class="task-filters__button"
        [class.task-filters__button--active]="currentFilter() === 'completed'">
        <mat-icon class="task-filters__icon">check_circle</mat-icon>
        Completed
      </button>
    </div>
  </div>
</div>