<div class="task-container">
  <div class="task-container__header">
    <mat-icon class="task-container__header-icon">checklist</mat-icon>
    <h1 class="task-container__header-title">Todo List</h1>
  </div>

  <div class="task-container__form-section">
    <div class="task-container__form">
      <div class="task-container__input-wrapper">
        <app-task-form [(taskText)]="newTaskText"></app-task-form>
      </div>
      <button mat-raised-button color="primary" (click)="addTask()" class="task-container__add-button">
        <mat-icon>add</mat-icon>
        Add Task
      </button>
    </div>
  </div>

  <app-task-filters [currentFilter]="currentFilter()" (onFilterChange)="onFilterChange($event)"></app-task-filters>

  <app-task-list [filteredTasks]="filteredTodos()" (taskDeleted)="deleteTask($event)" (taskToggled)="onTaskToggle($event)"></app-task-list>

  <app-timer> </app-timer>
</div>
