<div class="task-list">
  <div class="task-list__container">
    @if (filteredTasks().length === 0) {
    <div class="task-list__empty">
      <mat-icon class="task-list__empty-icon">inbox</mat-icon>
      <p class="task-list__empty-text">No tasks to display</p>
    </div>
    } @else {
    @for(task of filteredTasks(); track task.id) {
    <div class="task-list__item" [class.task-list__item--completed]="task.isCompleted">
      <mat-checkbox [checked]="task.isCompleted" (change)="toggleTask(task.id)" class="task-list__checkbox">
      </mat-checkbox>
      <span class="task-list__text" [class.task-list__text--completed]="task.isCompleted" (click)="toggleTask(task.id)">
        {{task.text}}
      </span>
      <button (click)="onDelete(task.id)" mat-icon-button><mat-icon>delete</mat-icon></button>
    </div>
    }
    }
  </div>
</div>
