<div class="task-list">
  <div class="task-list__container">
    @if (filteredTasks().length === 0) {
    <div class="task-list__empty">
      <mat-icon class="task-list__empty-icon">inbox</mat-icon>
      <p class="task-list__empty-text">No tasks to display</p>
    </div>
    } @else {
    @for(task of filteredTasks(); track task.id) {
      <div class="task-list__item" [class.task-list__item--completed]="task.isCompleted">
        <mat-checkbox [checked]="task.isCompleted" (change)="toggleTask(task.id)" class="task-list__checkbox">
        </mat-checkbox>
        @if (task.id !== editingTaskId()) {
          <span class="task-list__text" [class.task-list__text--completed]="task.isCompleted" (click)="onTaskEditStarted(task.id, task.text)">
          {{task.text}}
        </span>
        } @else {
          <input title="task-list-input" type="text" class="task-list__input" [(ngModel)]="editedTaskText">

          <button mat-icon-button (click)="saveEdit(task.id)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
          </button>
        }
        <button (click)="onDelete(task.id)" mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    }
    }
  </div>
</div>
